* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0 auto;
    background-color: linear-gradient(rgba(0, 0, 0, 0.6),transparent)
}

#topBar {
    margin: 10px;
    padding: 10px;
    height: 25vh;
}

.leftBar {
    display: flex;
    justify-content: flex-start;
}

.leftBar a {
    margin: 5px;
}

.rightBar {
    display: flex;
    justify-content: flex-end;
}

.rightBar a {
    margin: 5px;
}

#mainContainer {
    width: 90%;
    text-align: center;
    height: 95vh;
    margin: 0 auto;
}

#logo {
    margin: 5px;
    padding: 5px;
}

#searchField {
    border-radius: 3%;
    border: thin solid;
    margin: 5%;
    padding: 5px;
    width: 30%;
}

button {
    padding: 5px;
    margin: 5px;
}

a {
    color: grey;
}

.bottomLeftBar {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.bottomRightBar {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

footer {
    flex: 1;
    height: 4vh;
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: lightgray;
    border: thin;
}

footer a {
    margin: 10px;
}